<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      {% if title %}
      <title>{{ title }} - JVP</title>
      {% else %}
      <title>JVP</title>
      {% endif %} 
   </head>
   <body>
      <div class="nav">
         <a href="{{ url_for('index') }}">Start</a>
         {% if current_user.is_anonymous %}
         <a href="{{ url_for('login') }}">Anmelden</a>
         {% else %}
         <a href="{{ url_for('create_result') }}">Resultat teilen</a>
         <a href="{{ url_for('user', username=current_user.username) }}">Mein Profil</a>
         <a href="{{ url_for('logout') }}">Abmelden</a>
         {% endif %}
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
   </body>
</html>
