{% extends "base.html" %}
{% block content %}
   <table>
      <tr valign="top">
         <td>
            <h1>{{ user.username }}</h1>
            {% if user.last_seen %}<p>Zuletzt online am: {{ user.last_seen }}</p>{% endif %}
            {% if user.about_me %}<p class="about_me">{{ user.about_me }}</p>{% endif %}            
            {% if user.birthday %}<p>Geburtstag: {{ user.birthday }}</p>{% endif %}
            {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Profil bearbeiten</a></p>
            {% endif %}        
         </td>
      </tr>
   </table>
{% endblock %}
